<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">
    <title>Twitter Sentiment Analysis</title>
</head>
<body>
    <h1 class="head">Twitter Sentiment Analysis Application</h1>
    <div class="im">
        <img src="/static/Twitter.jpg" style="width:100px; height:100px;">
    </div>
    
    

    <div class="feat1">
        <a href="/feature1">Analysis Based On Person's Name/Keyword</a>
    </div>
    <br>
    <div class="feat2">
        <a href="/feature2">Comparative Analysis of Two Public Figures</a>
    </div>
    <br>
    <div class="dev">
        <h4>Developers : <a href = "https://www.linkedin.com/in/anupjha05/" target="_blank">Anup</a> | <a href = "https://www.linkedin.com/in/archit-arora-6035a91b0/" target="_blank">Archit</a></h4>
    </div>

    

    
    
</body>
</html>