<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='show2.css') }}">
    <title>Twitter Sentiment Analysis</title>
</head>
<body>
    <p></p>
    <nav class="navbar">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="https://drive.google.com/file/d/1xuTuN76oil2oD_GHFizeGr-uUceP8Qzy/view?usp=sharing">About</a></li>
      </ul> 
  </nav>
  <br>

  <div class="div1">
    <h2>{{personName1}}</h2>
   <img class = "profilePic" src="/static/feature2_user1.jpg" width="250" height="250">
  </div>
  <div class="div2">
    <h2>{{personName2}}</h2>
    <img class = "profilePic" src="/static/feature2_user2.jpg" width="250" height="250">
  </div>

  <br>
  <div  class="plot"> 
    <h4 class = " h4 m-1">Sentiment Analysis Plot against tweets from {{city}}</h4>
      {{chart_code|safe}}
    </div>
    <br>

<br>
<div class="dframe1">
    <br>
    <h2>{{personName1}}</h2>
    <h4>Top Positive Tweets for {{personName1}} from {{city}}</h4>
    {% for table1 in table1_1 %} 
    {{ table1|safe }} 
    {% endfor %} 

</div>

<div class="dframe2">
  
    <h2>{{personName2}}</h2>
    <h4>Top Positive Tweets for {{personName2}} from {{city}}</h4>
    {% for table2 in table2_1 %} 
    {{ table2|safe }} 
    {% endfor %}
    
</div>
<br>
<br>
<div>
<div class="dframe3">
<h4>Top Negative Tweets for {{personName1}} from {{city}}</h4>
    {% for table3 in table1_2 %} 
    {{ table3|safe }} 
    {% endfor %}
</div>

    <br>
    <div class="dframe4">
    <h4>Top Negative Tweets for {{personName2}} from {{city}}</h4>
    {% for table4 in table2_2 %} 
    {{ table4|safe }} 
    {% endfor %}
    </div>
  </div>
<br>

<!-- Optional JavaScript -->
{{demo_script_code|safe}}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.0.min.js"
crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.0.min.js"
crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.0.min.js"
crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.0.min.js"
crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.0.min.js"
crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>